.footer-button {
	@extend %button;
	display: inline-flex;
	text-align: center;
	align-items: center;
	

    &:hover,
    &:focus {
	background-color: var(--primary-white-color);
	color: var(--accent-color);
}
}

.footer-icon-submit {
	width: 24px;
	height: 24px;
	margin-left: 10px;
	fill: currentColor;
}
