.address {
	display: flex;
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
    
    & a {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-top: 32px;
	padding-bottom: 32px;

	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.142;
	letter-spacing: 0.02em;
	/* outline: 1px solid rgb(74, 165, 0); */
	
	color: var(--primary-text-color);
	transition: var(--transorm-color);
}

    &-item-icon {
	fill: currentColor;
	margin-right: 10px;
}

    & li:not(:last-child) {
	margin-right: 50px;
}

    & .link:hover,
    & .link:focus {
	color: var(--accent-color);
	cursor: pointer;	
}
}