.header-section {
	border-bottom: 1px solid #ececec;
}

/* =====================Nav-Header===================== */
.maine-nav {
	display: flex;
	align-items: center;
    
    & a {
	margin-bottom: 0;
}
}


.site-nav {
	display: flex;
	

    & .link {
	display: block;
	padding-top: 32px;
 	padding-bottom: 32px;
	
	font-weight: 500;
	font-size: 14px;
	line-height: 1.142;
	letter-spacing: 0.02em;

	color: var(--primary-title-color);
	transition: var(--transorm-color);
	animation-duration: 1000ms;
	animation-iteration-count: 1;
}


    & .current {
	position: relative;
	color: var(--accent-color);
}

    & .current::after {
	content: " ";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 4px;
	border-radius: 2px;

	background-color: var(--accent-color);
	
}

    & li:not(:last-child) {
	margin-right: 50px;
}

    & .link:hover,
    & .link:focus {
	color: var(--accent-color);
	cursor: pointer;
}
}