/* ===================Our team==================== */
.section-our-team {
	background: var(--secondary-bg-color);
}

.team-member-information {
	padding-top: 30px;
	padding-bottom: 30px;
}

.our-team-personal {
	display: flex;
	flex-wrap: wrap;
}
/* ===================Our team card==================== */

.our-team-card {
	width: calc((100% - 30px * 3) / 4);
	border-radius: 0px 0px 4px 4px;;
	background: var(--primary-white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    &:not(:nth-child(4n)) {
	margin-right: 30px;
}

    & h3 {
	font-family: Roboto;
	font-style: 400;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.187;

	/* identical to box height */
	text-align: center;

	color: var(--primary-title-color);
}

    & h3 {
	margin-top: 0;
	margin-bottom: 10px;
}

    & img {
	display: block;
}

    & p {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.187;

	/* identical to box height */
	text-align: center;

	color: var(--primary-text-color);
}

    & p {
	margin-top: 0;
	margin-bottom: 16px;
}
}
/* ==============Our-team-title============== */
.our-team-title {
	margin-top: 0;
	margin-bottom: 50px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.167;
	text-align: center;
	color: var(--primary-title-color);
}

/* ===============Our-team-social-link=============== */
.our-team-social-link {
	display: flex;
	justify-content: center;
	border-radius: 50%;
    
    &-icon {
	fill: currentColor;
}

    &-list {
	margin-right: 10px;
	
}

    &-list:nth-child(4n) {
	margin-right: 0;
}
}